# Compiled Java / Maven target directories
target/
**/target/
*.class

# Package files
*.jar
*.war
*.ear
!Boardgame/.mvn/wrapper/maven-wrapper.jar

# IDEs and Editors
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
.factorypath
.springBeans
.sts4-cache
nbproject/
nbbuild/
nbdist/

# OS and temporary files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
*.log
*.tmp
